@charset "UTF-8";



.menu-button {
    float: left;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 25px;
    display: none;
}


.menu-button div {
    width: 40px;
    height: 5px;
    background-color: #003561;
    margin-top: 8px;
    border-radius: 5px 5px 5px 5px;
    display: block;
    transition: .4s;
}

.transformation .button-parts:nth-of-type(1) {

    transform: rotateZ(45deg)  translate(6px, 8.5px);
}

.transformation .button-parts:nth-of-type(2) {

    opacity: 0;
}

.transformation .button-parts:nth-of-type(3) {

    transform: rotateZ(-45deg) translate(10px, -12px);
}


.container-menu {
    position: absolute;
    width: 70%;
    height: 700px;
    background: #fff;
    display: none;
    box-shadow: rgb(120, 121, 124) 0px 100px 120px;
    opacity: 1;
    margin-top: 60px;
}

.container-menu-two {

    display: block;
}


.ul-two {
    display: block;
    margin-left: 15px;
}

.ul-two li {

    margin-top: 40px;
}

.ul-two li a {
    font-size: 22px;
}


@media (max-width: 650px) {

    ::-webkit-input-placeholder { font-size: 14px;} 
      
    ::-moz-input-placeholder { font-size: 14px; }
}


@media (max-width: 450px) {

    ::-webkit-input-placeholder {  font-size: 11px;} 
      
    ::-moz-input-placeholder { font-size: 11px; }
}


@media (max-width: 768px) {


    .menu-button {
        display: block;
    }

    h4 {
        font-size: 30px;
    }

    .rwo h5, li a, a{

        font-size: 25px;
    }

    
    .ul-one, .paragraph-find-store, .next{
        display: none;
    }

 }

